<!doctype html>
<html>
  <head>

    <!-- <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700'
          rel='stylesheet'>
    <link href="/static/maps.css" rel="stylesheet"> -->
    <!-- not exactly sure what to put here -->

    {% block head %}
        <!-- put extra CSS/JS here -->
    {% endblock %}

  </head>
  <body>

  {% block body %}
  {% endblock %}

  </body>
</html>