<!doctype html>
<html>
  <head>
    <!-- <script src="http://code.jquery.com/jquery.js"></script> -->

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700'
          rel='stylesheet'>
    <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDal19_R4BpAWidH-pzt31O1DNDMH3WKbU">
    </script>
    <link href="/static/map.css" rel="stylesheet">
    <link href="static/base.css" rel="stylesheet">
    <!-- not exactly sure what to put here -->


    {% block head %}
        <!-- put extra CSS/JS here -->
    {% endblock %}

  </head>
  <body>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link " href="http://0.0.0.0:5000/" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://0.0.0.0:5000/gb_locations">Ghostbike Map</a>
        </li>
        {% if "user_id" in session %}
        <li class="nav-item">
            <a class="nav-link" id="upload-gb" href="
            http://0.0.0.0:5000/upload_gb_photo" >Upload GB</a>
        </li>
        {% endif %}
        {% if "user_id" not in session %}
        <li class="nav-item">
            <a class="nav-link" id="login-nav-link" href="http://0.0.0.0:5000/login">Login</a>
        </li>
        {% endif %}
        {% if "user_id" in session %}
        <li class="nav-item">
            <a class="nav-link" id="logout-nav-link" href="http://0.0.0.0:5000/logout">Logout</a>
        </li>
        {% endif %}
        {% if "user_id" not in session %}
        <li class="nav-item">
            <a class="nav-link" id="signup-nav-link" href="http://0.0.0.0:5000/create_new_user">Sign UP</a>
        </li>
        {% endif %}
    </ul>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


  {% block body %}
  body of page goes here based on inheritance I guess
  {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="   crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

  </body>
</html>