{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<h1>Create New User</h1>

  <div class=login-form>

    <form class="form-signin" method="POST">

        <h2 class="form-signin-heading">Please Sign In</h2>

        <div class="form-group">
            <label for="username-field" class="sr-only">Username</label>
            <input type="username"
                   name="username"
                   class="form-control input-lg"
                   placeholder="Username"
                   required
                   autofocus>
        </div>

        <div class="form-group">
            <label for="password-field" class="sr-only">Password</label>
            <input type="password"
                   name="password"
                   class="form-control input-lg"
                   placeholder="Password"
                   required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In
        </button>

    </form>

  </div>

{% endblock %}