{% extends 'base.html' %}

{% block head %}
<link href="/static/homepage.css" rel="stylesheet"></link>
{% endblock %}

{% block body %}


<div class="background-div">

        <img src="/static/andy_barter.jpg">

        <div class="text" id="contains-text">
                <h1>Ghost Bikes</h1>
        </div>

        <div class="definition-text">
            <h1> n. a roadside memorial
            placed where a cyclist has been killed
             or severely injured, usually by a motor vehicle.
             An intended reminder to share the road.<h1>

         </div>
</div>



<script>
    function updateButton(data) {
        console.log(data);
        if (data == "True") {
            console.log(data)
            let loginButton = document.querySelector("#login-nav-link");
            loginButton.innerText = 'Logout';
            loginButton.setAttribute('href', '/logout');
        }        
    }

    function checkLogin(){
        
        console.log("In checkLogin");
        $.get('/check_login', updateButton);
    }

</script>

{% endblock %}
