{% extends 'map.html' %}

{% block body2 %}

  <h2>Submit Ghost Bike</h2>
  <h1>photo and location</h1>

  <div class=login-form>



    <form  action="/upload_gb_photo" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "my_photo" accept = "image/*">
         <input id="hiddenLat" name = "hiddenLat" type = "hidden" value = "">
         <input id="hiddenLong" name = "hiddenLong" type = "hidden" value = "">
         <input type = "submit"/>
      </form>


      <!-- {% if photo %}
        <img src="data:image/png:base64,{{photo}}">

      {% endif %} -->
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Upload Photo
        </button> -->



  </div>

{% endblock %}